<header>
    <title>Billboard</title>

  </header>

  <body>

  <h2>Edit Artist</h2>

 <%= form_for [@artists] do |f| %>
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name, value: @artists.artist_name, required: true, autofocus: true %>
  <br>
  <br>
  <%= f.submit %>
  <% end %>

</body>
