<header>
<title>Billboard</title>

</header>

<body>

<h2>Create New Artist</h2>

<%= form_for [@artists] do |f| %>
<%= f.label :name %>
<%= f.text_field :name, required: true, autofocus: true %>
<br>
<br>
<%= f.submit %>
<% end %>

</body>
